/* Colores más utilizados */

$darkblue: #274472;
$babyblue: #B0D2DA;
$bluegrey: #5885AF;
$midnightblue: #41729F;
$grey: #CAB29F;
$darkgrey: #4d4d4d;
$white: white;
$white-2: #f8f9fa;
$black: black;
$none: transparent;